.job_heading{
    padding-bottom: 3px;
    color: #232323;
    font-size: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    font-weight: 700;
    text-transform: capitalize;

}
.company_details{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company_details  p{
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 0.9rem;
}

.job_type {
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 10px;
}
.job_type span{
    box-sizing: border-box;
    min-width: 0;
    display: inline-flex;
    background-color: #cfe2ff;
    border-radius: .25rem;
    align-items: center;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.3125rem;
    color: #052c65;
    padding: .1875rem .5rem;
    margin: 0 .25rem .25rem 0;
    text-transform: uppercase;
    border: 1px solid #9ec5fe;
}

.job_description p{
    font-size: 12px;
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 3; */
    /* -webkit-box-orient: vertical; */
    /* overflow: hidden; */
    text-overflow: ellipsis;
    /* max-height: 4.5em; */
    text-transform: initial;
    margin-bottom: 0;
}


.location{
    display: block;
    position: relative;
}
.location div{
    position: relative;
    font-size: 16px;
    font-weight: 700;
}

.location p{
    font-size: 14px;
}

.job_details, .job_details .details{
    display: block;
    position: relative;
}
.job_details svg{
    position: relative;
    top: -2px;
}
.job_details .details .details_head{
    position: relative;
    font-size: 13px;
    font-weight: 700;
}

.job_details .details .details_body{
    padding-top: .3rem;
}
.job_details .details .details_body  span{
    border: none;
    box-sizing: border-box;
    min-width: 0;
    display: inline-flex;
    border-radius: .2rem;
    align-items: center;
    font-size: .70rem;
    font-weight: 700;
    line-height: 1.3125rem;
    padding: .15rem .8rem;
    margin: 0 .5rem .25rem 0;
    text-transform: uppercase;
}


.btn_section{
    display: flex;
    gap: 1rem;
}

@media(max-width : 551px){
    .btn_section div{
        width: 50% ;
    }
}