.job_heading{
    padding-bottom: 3px;
    color: #232323;
    font-size: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    font-weight: 700;
    text-transform: capitalize;

}
.company_details{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company_details  p{
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 0.9rem;
}

.job_type {
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 8px;
}
.job_type span{
    border: none;
    box-sizing: border-box;
    min-width: 0;
    display: inline-flex;
    border-radius: .2rem;
    align-items: center;
    font-size: .70rem;
    font-weight: 700;
    line-height: 1.3125rem;
    padding: .15rem .8rem;
    margin: 0 .25rem .25rem 0;
    text-transform: uppercase;
}

.job_description p{
    font-size: 12px;
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 3; */
    /* -webkit-box-orient: vertical; */
    /* overflow: hidden; */
    text-overflow: ellipsis;
    /* max-height: 4.5em; */
    text-transform: initial;
    margin-bottom: 0;
}


.read_more{
    position: relative;
    font-size: 15px;
font-weight: 700;
text-decoration: underline;
color: #004dc1;
line-height: 2;
text-underline-offset : 2px;
cursor: pointer;
}